.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px auto;
}
.create-form {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 15px;
  font-weight: 300px;
  height: 700px;
  width: 750px;
  transition: 0.2s;
  color: #CFCEC9;
  background: #0b132b;
  background: -webkit-linear-gradient(
    360deg,
    #cbb26a 10%,
    #051937 120%,
    #083023 360%
  );
  background: linear-gradient(360deg, #224e4d 10%, #051937 120%, #cbb26a 360%);
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.create-name,
.create-img,
.create-price,
.create-quantity,
.create-description,
.create-category {
  margin: 15px auto;
  font-size: 18px;
  padding: 15px auto;
  width: 450px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: #CFCEC9;
  outline: none;
}
.create-description{
  max-width: 750px;
  max-height: 350px;
}
.create-button {
  width: 150px;
  border: 1px solid rgba(10, 180, 180, 1);
  color: #CFCEC9;
  background: rgba(20, 20, 20, 0.6);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.create-button:hover {
  background: rgba(20, 20, 20, 0.8);
  color: #CFCEC9;
}
@media (min-width: 320px) and (max-width: 767px) {
  .create-form {
  padding: 7px auto;
  margin: 2px auto;
  font-weight: 150px;
  height: 410px;
  width: 270px;
  }
  .create-name,
.create-img,
.create-price,
.create-quantity,
.create-description,
.create-category{
    margin: 9px;
    font-size: 14px;
    padding: 9px auto;
  width: 240px;
  }
  .create-description{
    max-width: 450px;
    max-height: 250px;
  }
  .create-button{
    width: 90px;
    font-size: 14px;
  }
}
/* media query for Ipad and larger screen*/
@media (min-width: 768px) and (max-width: 1024px){
  .create-form {
  padding: 15px;
  margin: 7px auto;
  font-weight: 230px;
  height: 510px;
  width: 400px;
  }
  .create-name,
.create-img,
.create-price,
.create-quantity,
.create-description,
.create-category{
    margin: 12px;
    font-size: 16px;
    padding: 12px auto;
  width: 340px;
  }
  .create-description{
    max-width: 600px;
    max-height: 300px;
  }
  .create-button{
    width: 105px;
    font-size: 16px;
  }
}
