.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.create-form {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 15px;
  font-weight: 300px;
  height: 700px;
  width: 750px;
  transition: 0.2s;
  color: #cbb26a;
  background: #0b132b;
  background: -webkit-linear-gradient(
    360deg,
    #cbb26a 10%,
    #051937 120%,
    #083023 360%
  );
  background: linear-gradient(360deg, #224e4d 10%, #051937 120%, #cbb26a 360%);
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.create-name,
.create-img,
.create-price,
.create-quantity,
.create-description,
.create-category {
  margin: 15px auto;
  font-size: 18px;
  padding: 15px auto;
  width: 450px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: #cbb26a;
  outline: none;
}
.create-description{
  max-width: 750px;
  max-height: 350px;
}
.create-button {
  width: 150px;
  border: 1px solid rgba(10, 180, 180, 1);
  color: #cbb26a;
  background: rgba(20, 20, 20, 0.6);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.create-button:hover {
  background: rgba(20, 20, 20, 0.8);
  color: #cbb26a;
}
