.form-sign-up {
  width: 550px;
  height: 650px;
  font-family: "Open Sans", sans-serif;
  background: #0b132b;
  margin-bottom: 85px;
  border-radius: 15px;
  border: 1px solid #cbb26a;
  padding: 15px;
}
.form-sign-up label {
  color: #cbb26a;
}
.sign-up-input {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px;
  font-size: 15px;
  color: #cbb26a;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
.sign-up-input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.3);
}

.sign-up {
  font-size: 25px;
  color: #cbb26a;
  font-family: "Cinzel", serif;
}
.sign-up-button {
  width: 150px;
  height: 50px;
  margin: 40px auto;
  border: 1px solid #fff;
  color: #cbb26a;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}
label{
  font-size: 19px;
}
.sign-up-button::before,
.sign-up-button::after {
  position: absolute;
  background: #092756;
  z-index: -1;
  transition: 1s;
  content: "";
}
.sign-up-button::before {
  height: 50px;
  width: 150px;
}

.sign-up-button::after {
  width: 150px;
  height: 30px;
}
.button-span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign-up-button:hover::before {
  width: 0px;
  background: #092756;
}

.sign-up-button:hover::after {
  height: 0px;
  background: #092756;
}

.sign-up-button:hover {
  background: #092756;
}

/* media query for mobile screen */
@media (min-width: 320px) and (max-width: 767px){
  .form-sign-up {
    width: 350px;
    height: 500px;
    margin-bottom: 45px;
    border-radius: 15px;
    padding: 10px;
  }
  .sign-up-input {
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    font-size: 13px;
  }
  label{
    font-size: 13px;
  }
  .sign-up {
    font-size: 18px;
  }
  .sign-up-button {
    width: 90px;
    height: 50px;
    padding: 20px;
    font-size: 14px;
    margin: 35px auto;
  }
  .sign-up-button::before {
    height: 50px;
    width: 90px;
  }
  
  .sign-up-button::after {
    width: 90px;
    height: 30px;
  }
}
/* media query for ipad size and bigger screen */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .form-sign-up{
    width: 450px;
    height: 650px;
    padding: 15px;
    margin: 65px auto;
  }
  .sign-up-input {
    width: 290px;
    margin: 15px auto;
    padding: 13px;
    font-size: 17px;
    
  }
  label{
    font-size: 17px;
  }
  .sign-up-button{
    width: 120px;
    height: 50px;
    padding: 20px;
    font-size: 18px;
    margin: 37px auto;
    
  }
  
  .sign-up-button::before {
    height: 50px;
    width: 90px;
  }
  .sign-up-button::after {
    width: 120px;
    height: 50px;
  }
}
