.landing-screen {
  min-height: 92vh;
  margin-top: 8vh;
  display: flex;
  flex-flow: column;
}

.sliders-container {
  height: 65vh;
  height: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-flow: row wrap;
}
.slider-container,
.small-slider-container {
  background-color: #CFCEC9;
}
.category-container {
  height: 27vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #CFCEC9;
  margin-top: 40px;
}

.category-container a {
  text-decoration: none;
  color: #00003d;
}
