.landing-screen {
  min-height: 92vh;
  margin-top: 8vh;
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(
    to top,
    #312911,
    #50461f,
    #6f652d,
    #8f873d,
    #afab4e
  );
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.sliders-container {
  height: 65vh;
  background-image: linear-gradient(
    to top,
    #312911,
    #50461f,
    #6f652d,
    #8f873d,
    #afab4e
  );
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.slider-container,
.small-slider-container {
  background-color: #8aa399;
}
.category-container {
  height: 27vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #8aa399;
  margin-top: 40px;
}

.category-container a {
  text-decoration: none;
  color: #00003d;
}
