footer {
  height: 360px;
  background-color: rgba(35, 39, 46, 1);
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: #fff;
  bottom: 0;
  /* width: 100%; */
}
footer a {
  display: flex;
  font-size: 18px;
  text-decoration: none;
  flex-direction: row;
  color: #cbb26a;
  padding: 3px;
  letter-spacing: 3px;
}
.link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 5px;
}

.link a:hover {
  color: dodgerblue;
}
.fa-github,
.fa-linkedin {
  margin: 5px auto;
  color: #cbb26a;
}
.fa-github:hover,
.fa-linkedin:hover {
  color: dodgerblue;
}

@media (min-width: 320px) and (max-width: 767px) {
 footer {
   font-size: 11px;
   height: 260px;
}

footer a{
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 12px;
}
.link{
  margin: 2px;
  display: flex;
  flex-direction: column;
}
.fa-github,
.fa-linkedin {
  margin: 2px auto;
  font-size: 14px;
}
}

@media (min-width: 768px) and (max-width: 1024px){
 footer{
   font-size: 16px;
   padding: 2vh;
   height: 360px;
 }
 footer a {
   letter-spacing: 2px;
   font-size: 16px;
   padding: 3px;
 }
 .link{
   margin: 3px;
 }
 .fa-github,
.fa-linkedin {
  margin: 3px auto;
}

}
