.slider-container {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    max-width: 500px;
    max-height: 500px;
}

.slider-left-arrow {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 3rem;
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

.slider-right-arrow {
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 3rem;
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

