.slider-container {
  position: relative;
  height: 500px;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  max-width: 40vw;
  max-height: 490px;
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

@media all and (max-width: 992px) {
  .slider-container {
    width: 50vw;
  }
  .slider-image {
    max-width: 50vw;
  }
}

@media all and (max-width: 768px) {
  .slider-container {
    width: 80vw;
    height: 350px;
    margin: 0 auto;
  }

  .slider-image {
    max-width: 90vw;
    max-height: 340px;
  }
}

@media all and (max-width: 600px) {
  .slider-container {
    width: 90vw;
  }
}