.small-slider-container {
  background-color: lightgreen;
  position: relative;
  border-top: 3px solid black;
  border-right: 3px solid black;
  
  height: 49%;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-slider-image {
  max-width: 40vw;
  height: 230px;
  align-self: center;
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  color: black;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
