.small-slider-container {
    background-color: lightgreen;
    border: 3px solid black;
    position: relative;
    min-height: 47%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .small-slider-image {
    max-width: 40vw;
    max-height: 230px;
  }
  
  .slider-left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3rem;
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  
  .slider-right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    color: black;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  