
.form {
  width: 450px;
  height: 650px;
  font-family: "Open Sans", sans-serif;
  background: #0b132b;
  margin-bottom: 85px;
  border-radius: 15px;
  border: 1px solid #cbb26a;
  padding: 10px;
}
.form-cont {
  margin: 40px auto;
  padding: 30px;
}
.sign-in-input {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 40px auto;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  font-size: 28px;
  padding: 20px;
  font-size: 15px;
  color: #ECEBE9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
.sign-in-input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.3);
}

.sign-in {
  margin-top: 40px;
  padding-top: 20px;
  font-size: 25px;
  color: #ECEBE9;
  font-family: "Cinzel", serif;
}
.sign-in-button {
  width: 150px;
  height: 50px;
  margin: 40px auto;
  border: 1px solid #fff;
  color: #ECEBE9;
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}
.sign-in-button::before,
.sign-in-button::after {
  position: absolute;
  background: #092756;
  z-index: -1;
  transition: 1s;
  content: "";
}
.sign-in-button::before {
  height: 50px;
  width: 150px;
}

.sign-in-button::after {
  width: 150px;
  height: 30px;
}
.button-span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign-in-button:hover::before {
  width: 0px;
  background: #092756;
}

.sign-in-button:hover::after {
  height: 0px;
  background: #092756;
}

.sign-in-button:hover {
  background: #092756;
}
/* media for mobile size */
@media (min-width: 320px) and (max-width: 767px) {

  .form-cont{
    margin: 15px auto;
    padding: 15px;
  }
  .form{
    width: 310px;
    height: 400px;
    font-size: 16px;
    padding: 10px;
    margin: 10px auto;
  }
  .sign-in{
    margin-top: 12px;
  padding: 10px auto;
  font-size: 16px;
  }
  .sign-in-input{
    width: 200px;
    margin: 25px auto;
    font-size: 16px;
    padding: 18px;
  }
  .sign-in-button{
    width: 90px;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    margin: 35px auto;
    
  }
  
  .sign-in-button::before {
    height: 50px;
    width: 90px;
  }
  .sign-in-button::after {
    width: 90px;
    height: 30px;
  }
}

/* media for table and bigger size screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .form-cont{
    margin: 25px auto;
    padding: 25px;
  }
  .form{
    width: 400px;
    height: 540px;
    font-size: 24px;
    padding: 15px;
    margin: 45px auto;
  }
  .sign-in{
    margin-top: 24px;
  padding-top: 15px;
  font-size: 20px;
  }
  .sign-in-input{
    width: 270px;
    margin: 35px auto;
    font-size: 18px;
    padding: 20px;
  }
  .sign-in-button{
    width: 120px;
    height: 50px;
    padding: 20px;
    font-size: 18px;
    margin: 37px auto;
    
  }
  
  .sign-in-button::before {
    height: 50px;
    width: 90px;
  }
  .sign-in-button::after {
    width: 120px;
    height: 50px;
  }
}