.products-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.products-container {
    width: 250px;
    height: 40vh;
    padding: 10px 20px;
}